{% extends 'home/base.html' %}
{% load staticfiles %}
{% block body %}
<title>Codedaemon | Discussion</title>
<script type="text/javascript" src="{% static "js/main.js" %}"></script>
<script>
    $(function() {
        $('.ui.item').hover(function () {
            $(this).animate({
                'opacity':'1'
            }).css({'background-color':'#e7ebf0','color':'#6a86a4'});
        }, function () {
            $(this).animate({
                'opacity':'0.7'
            }).css({'background':'none','color':'black'});;
        });
    });
    var countDownDate = new Date("{{end}}").getTime();
    var x = setInterval(function() {
        var now = new Date().getTime();
        var distance = countDownDate - now;
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);
        document.getElementById("demo").innerHTML = days + "d " + hours + "h "
        + minutes + "m " + seconds + "s ";
        if (distance < 0) {
            clearInterval(x);
            document.getElementById("demo").innerHTML = "LOCKED";
            document.getElementById("demo").style = "color:red";
        }
    }, 1000);

    function delete_com(id) {
        $.post("{% url 'discussion:delcom' %}", {'com':id,'csrfmiddlewaretoken': '{{ csrf_token }}'}, function(data) {
          window.location.href = "{% url 'discussion:disc' contest_id %}";
         });
    }
  </script>
<body style="background-color:#f3f3f3" onload="setupWebSocket();">
<br>
<div class="ui container">
  <div class="ui breadcrumb" style="background-color:#f3f3f3;">
    <a class="section" id="con_name" href="{% url 'home:contest_info' contest.id %}" >{{ contest.con_name }}</a>
    <i class="right angle icon divider"></i>
    <div class="active section">Leaderboard</div>
  </div>

  <div class="ui blue secondary pointing menu">
    <a class="ui item" href="{% url 'home:contest_details' contest.id %}">
        Problem
      </a>
      <a class="ui item" href="{% url 'Leader:leader' contest.id %}">
        Leaderboard
      </a>
      <a class="ui active item" href="{% url 'discussion:disc' contest.id %}">
        Discussions
      </a>
      <div class="right menu">
        <a class="ui item">
          TIME  : <span id="demo" style="color:#3498DB;"></span>
        </a>
        <a class="ui item">
          RANK  : <span style="color:#3498DB;">{{ Rank }}</span>
        </a>
      </div>
  </div>
</div>
<br>
<br>
<div class="ui container">
  <div class="ui comments">
    <div class="comment">
      <div class="content">
        <a class="author">{{request.session.user}}</a>
        <div class="metadata">
          <div class="date">2 days ago</div>
        </div>
        <form class="ui reply form">
          <div class="field">
            <textarea id="comment"></textarea>
          </div>
          <div class="ui primary submit labeled icon button" id="sadd">
            <i class="icon edit"></i> Add Reply
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="ui comments" id = "discuss">

  {% for i in All %}
    <div class="comment">
    <div class="content">
      <a class="author">{{ i.user.username }}</a>
      <div class="metadata">
          <div class="date">{{i.time}}</div>
        {% if i.user.username == request.session.user  %}
          <button class="ui mini button" id="sdel{{ i.id }}" onclick="delete_com({{ i.id }})">DELETE</button>
        {% endif %}
      </div>
      <pre class="ui segment" style="background-color: #f8f8f8;border:0px;">{{ i.message }}</pre>
    </div>
    </div>
{% endfor %}
  </div>
</div>

<script type="text/javascript">
  $(function() {

  $('#sadd').click(function() {
	if ($('#comment').val() =="")
		return false;
          $.post("{% url 'discussion:addcom' %}", {'con':{{ contest_id }},'comment':$('#comment').val() , 'csrfmiddlewaretoken': '{{ csrf_token }}'}, function(data) {
         });
        });
    });
</script>
{% endblock %}
