{% load staticfiles %}
{% if not request.session.user %}
<div>
  You are not logged in
</div>
{% else %}

<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'Semantic/semantic.min.css' %} "/>
<script src="{% static 'Semantic/semantic.min.js' %}"></script>
<body style="background-color:#f3f3f3">
 <div class="ui blue large secondary pointing menu">
   <a class="ui large item " href="{% url 'home:contest' %}">
     Codedaemon
   </a>
   <div class="right menu">
     <a class="ui item {{ nav.contest }} {{arr.1}}" href="{% url 'home:contest' %}">
       Contest
     </a>
     <a class="ui item {{ nav.practice }} {{arr.2}}" href="{% url 'Practice:index' %}">
       Practice
     </a><a class="ui item {{ nav.contact }} {{arr.3}}" href="{% url 'home:contactPage' %}">
       Contact
     </a>
     <a class="ui item {{ nav.profile }} {{arr.4}}" href="{% url 'home:profile' %}">
     <img class="ui avatar image" src="{% static 'square-image.png' %}">
       <span>{{ request.session.user }}</span>
     </a>
     <div class="item">
         <a class="ui basic blue button" href="{% url 'home:logout' %}">Logout</a>
     </div>
   </div>
 </div>
{% block body %}
{% endblock %}
{% endif %}
