{% extends 'home/base.html' %}
{% load staticfiles %}
<div class="container">
<div class="back">
  {% block body %}
<center>
	<strong class="name" style="margin-top:100px;">{{ contest.con_name }}</strong>
</center>
<br>
<center>
	<strong class="name" style="margin-top:100px;">{{ contest.con_date }}</strong>
</center>
<br>
<center>
	<strong class="name" style="margin-top:100px;">{{ contest.start_time }}----{{ contest.end_time }}</strong>
</center>
<br>
<center>
	<strong class="name" style="margin-top:100px;">{{ contest.org_name }}</strong>
</center>
<br>
<center>
	<strong class="ui black mini button" style="margin-top:100px;"><a href = "{% url 'home:contest_info' contest.id %}">Enter</a></strong>
</center>
</div>
<div class="col-sm-12 main">
	<strong class="data" style="margin-top:100px;">PRIZE</strong>
  <div>
    {{ contest.prize}}
  </div>
</div>
<hr>
<div class="col-sm-12 main">
	<strong class="data" style="margin-top:100px;">RULE</strong>
    <div>
    {{ contest.rules}}
  </div>
</div>
<hr>
<div class="col-sm-12 main">
	<strong class="data" style="margin-top:100px;">SCORING</strong>
    <div>
    {{ contest.scoring}}
  </div>
</div>
<hr>
</div>
{% endblock %}
