<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="container">

        <h2>table</h2>

        <table class="table table-striped">

            <tbody>
              {% for sub in sub_all %}
                 <tr>
                         <td>{{  forloop.counter }}</td>
                         {% for i in sub %}
                             <a href="#">{{ i }}</a>
                         {% endfor %}
                     <button  href="#" type="button" name="view" >view</button>
                 </tr>
               {% endfor %}
            </tbody>
          </table>
        </div>




</body>
</html>
