{% extends 'home/base.html' %}
{% load staticfiles %}
{% block body %}
<title>Codedaemon | Leaderboard</title>
<script>
    $(function() {
        $('.ui.item').hover(function () {
            $(this).animate({
                'opacity':'1'
            }).css({'background-color':'#e7ebf0','color':'#6a86a4'});
        }, function () {
            $(this).animate({
                'opacity':'0.7'
            }).css({'background':'none','color':'black'});;
        });
    });
    var countDownDate = new Date("{{end}}").getTime();
    var x = setInterval(function() {
        var now = new Date().getTime();
        var distance = countDownDate - now;
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);
        document.getElementById("demo").innerHTML = days + "d " + hours + "h "
        + minutes + "m " + seconds + "s ";
        if (distance < 0) {
            clearInterval(x);
            document.getElementById("demo").innerHTML = "LOCKED";
            document.getElementById("demo").style = "color:red";
        }
    }, 1000);

  </script>
<br>
<div class="ui container">
  <div class="ui breadcrumb" style="background-color:#f3f3f3;">
    <a class="section" href="{% url 'home:contest_info' contest.id %}">{{ contest.con_name }}</a>
    <i class="right angle icon divider"></i>
    <div class="active section">Leaderboard</div>
  </div>

  <div class="ui blue secondary pointing menu">
    <a class="ui item" href="{% url 'home:contest_details' contest.id %}">
        Problem
      </a>
      <a class="ui active item" href="{% url 'Leader:leader' contest.id %}">
        Leaderboard
      </a>
      <a class="ui item" href="{% url 'discussion:disc' contest.id %}">
        Discussions
      </a>
      <div class="right menu">
        <a class="ui item">
          TIME  : <span id="demo" style="color:#3498DB;"></span>
        </a>
        <a class="ui item">
          RANK  : <span style="color:#3498DB;">{{ Rank }}</span>
        </a>
      </div>
  </div>
  <div class="ui grid">
    <div class="one wide column">
    </div>
    <div class="fourteen wide column" style="overflow:scroll; height:700px;">
      <table class="ui celled table" >
        <thead>
          <tr>
                {% for i in fields %}
                    {% if forloop.counter >= 5 %}
                    <th><a href="{% url 'Compile_run:index' i %}">{{ i }}</a></th>
                    {% else %}
                        <th>{{ i }}</th>

                    {% endif %}
                {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for user in participents %}
             <tr>
                     <td>
                      {% if forloop.counter == 1 %}
                        <div class="ui tiny ribbon green label">First</div>
                      {% else %}
                        {{forloop.counter}}
                      {% endif %}
                     </td>
                     {% for i in user %}
                         {% if forloop.counter == 2 %}
                            <td style="color:blue;">{{ i }} </td>
                         {% elif forloop.counter != 1 %}
                             <td>{{i}}</td>
                         {% endif %}
                     {% endfor %}
             </tr>
           {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
