{% load staticfiles %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
  <script>
  function setname(id){
      if(id=='inputupload'){
          document.getElementById('input').innerHTML = '<input type="file" name="inputfile" accept="text/plain" required>';
          document.getElementById('inputeditor').checked=false;
      }
      else if(id == 'inputeditor'){
          document.getElementById('input').innerHTML = '<textarea  class="form-control" id="description" name="input" placeholder="input" rows="10" required></textarea>';
          document.getElementById('inputupload').checked=false;
      }
      else if(id == 'outputeditor'){
        document.getElementById('output').innerHTML = '<textarea  class="form-control" id="description" name="output" placeholder="input" rows="10" required></textarea>';
        document.getElementById('outputupload').checked=false;
      }
      else {
        document.getElementById('output').innerHTML = '<input type="file" name="outputfile" accept="text/plain" required>';
        document.getElementById('outputeditor').checked=false;
      }
  }
  </script>
  <div class="container">
				<hr>
        <hr><strong>Problem Name : {{ problem.p_name }} </strong><hr><strong>Contest Name : {{ problem.Contest.con_name }} </strong>
				<strong>Problem Statement :<br> {{ problem.p_disc }} </strong>
				<hr>
		  <form action="{%  url 'adminpanel:savetest' problem.id %}" method="post">
				{% csrf_token %}
      	<div class="form-group">
			  	<label for ="description"> Input Format:</label>
          editor <input type="radio" id="inputeditor" name="inputeditor" onclick="setname('inputeditor')">
          upload <input type="radio" id="inputupload" name="inputupload" onclick="setname('inputupload')">
          <div id="input">
			    </div>
        </div>
				<div class="form-group">
			  	<label for ="description">Output format:</label>
          editor <input type="radio" id="outputeditor" name="outputeditor" onclick="setname('outputeditor')">
          upload <input type="radio" id="outputupload" name="outputupload" onclick="setname('outputupload')">
          <div id="output">
          </div>
			    </div>
				<div class="form-group">
			  	<label for ="description">weightage:</label>
			  	<input type="number" class="form-control" id="description" name="weight" placeholder="Enter Your weight" rows="10"/>
				</div>

				<button type="submit" href="" class="btn btn-default">ADD TEST CASE</button>
			</form>
</div>
