{% for i in data %}
	{{ i }}
 &nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'adminpanel:addtest' i.id %}">add testcases</a> &nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'adminpanel:addsession' i.id %}">add session</a> &nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'adminpanel:editproblem' i.id %}">edit problem</a>
<hr>
{% endfor %}
